
/*Dikerjakan oleh Darrell*/

body {
    margin: 0;
    padding: 0;
    height: 130vh;
    background: #ffffff;
    background: linear-gradient(to bottom, #1e90ff, #d9eaff);
    font-family: poppins, sans-serif;
}
/*-Dikerjakan oleh Darrell-*/
/*Dibantu oleh Richardo*/
.logo-laurensia img {
    display: block;
    margin: 20px auto;
    width: 120px;   
    height: auto;
}


@keyframes colorcycle {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}
/*-Dibantu oleh Richardo-*/
/*Dikerjakan oleh Richardo*/
.text-judul-pemilihan {
    text-align: center;
    color: white;
    font-family: poppins, sans-serif;
}

/*-Dikerjakan oleh Richardo-*/
/*Dikerjakan oleh Jeane*/
.anggota {
    display: flex;
    justify-content: center;
    gap: 50px; 
    flex-wrap: wrap; 
    margin-top: 25px;
    text-align: center;
    color: white;
}
/*-Dikerjakan oleh Jeane-*/
/*Dikerjakan oleh Darrell*/

.anggota-1:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
    transition: 0.3s;
}


.anggota-2:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
    transition: 0,3s;
}


.anggota-3:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
    transition: 0.3s;
}
/*-Dikerjakan oleh Darrell-*/
/*Dikerjakan oleh Darrell & Jeane*/
.Darrell {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.Jeane {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.Richardo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*-Dikerjakan oleh Darrell & Jeane-*/
/*Dikerjakan oleh Jeane & Richardo*/

.anggota-1 {
    width: 450px;
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box; 
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
    transition: 0.3s;

}
/*-Dikerjakan oleh Jeane & Richardo-*/
/*Dikerjakan oleh Richardo*/
.anggota-1 p{
    text-align: left;
    margin-left: 20px;
}

.anggota ul{
    text-align: left;
}

.anggota li{
    align-items: left;  
    object-fit:cover;
}
/*-Dikerjakan oleh Richardo-*/
/*Dikerjakan oleh Darrell*/
.anggota-2{
    width: 450px;   
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
    transition: 0.3s;
}

.anggota-2 p{
    text-align: left;
    margin-left: 20px;
}


.anggota-3 {
    width: 450px;    
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
    transition: 0.3s;
}

.anggota-3 p{
    text-align: left;
    margin-left: 20px;
}
/*-Dikerjakan oleh Darrell-*/
/*Dikerjakan oleh Richardo*/
.buttonses {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 25px;
    text-align: center;
}


.buttons1{
    background-color: #83bdff;
    display: flex;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 9999px;
    flex-direction: column;
    transition: 0.2s;
}
/*-Dikerjakan oleh Richardo-*/
/*Dikerjakan oleh Jeane*/

.buttons2{
    background-color: #83bdff;
    display: flex;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 9999px;
    flex-direction: column;
    transition: 0.2s;
}


.buttons3{
    background-color: #83bdff;
    display: flex;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 9999px;  
    flex-direction: column;
    transition: 0.2s;
}

/*-Dikerjakan oleh Jeane-*/
/*Dikerjakan oleh Jeane & Richardo*/
.buttons1 button{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttons2 button{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttons3 button{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*-Dikerjakan oleh Jeane & Richardo-*/
/*Dikerjakan oleh  Richardo*/
.buttons1:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.08);
    background-color: #1e90ff;
    transition: 0.2s;
}


.buttons2:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.08);
    background-color: #1e90ff;
    transition: 0.2s;
}


.buttons3:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.08);
    background-color: #1e90ff;
    transition: 0.2s;
}

/*-Dikerjakan oleh  Richardo-*/
