/*Bagian Ini Dikerjakan Oleh Sesama*/
body {
    margin: 0;
    min-height: 100vh; 
    display: flex;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1e90ff, #d9eaff);
    font-family: poppins, sans-serif;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}



.BOX-FR {
    width: 350px;
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    opacity: 80%;
}


.BOX-FR h2 {
    margin: 0 0 15px;
    margin-top: 50px;
    color: #333;
    text-align: center;
    color:  #054c94;
}


.BOX-FR label {
    margin: 0 0 15px;
    margin-top: 30px;
    color: #333;
    text-align: center;
    color: #054c94;
}


.BOX-FR img {
    display: block;
    margin: auto;
    width: 120px;
}

.BOX-FR button{
    width: 100%;
    height: 5%;
    text-align: center;
    margin-top: 1px;
    background-color: #0077ff;
    border-radius: 4px;
}

.NISN-SISWA {
    font-size: 18px;
    font-weight: bold;
    color: #333;    
    text-align: left;
    font-weight: bold;

}

.logosekolah-png {
    width: 90px;
    margin: 0 auto 10px auto; 
    display: block;
    margin-bottom: -30px;   
}

.input-box {
    width: 100%;
    padding: 10px;
    border: 2px solid #1e90ff;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
background-color: #054c94;
}

